
<ul class="list-group">
  <a routerLink="/Home"
  class="list-group-item">
   Home
  </a>

  <a routerLink="/Acerca"
  class="list-group-item">
   Acerca de
  </a>

  <a routerLink="/Contacto"
  class="list-group-item">
   Acerca del contacto
  </a>

  <a routerLink="/Posteos"
  class="list-group-item">
   Posteos pedorros porque con cada click descarga de nuevo
  </a>

  <a routerLink="/PosteoAsync"
  class="list-group-item">
   Posteos descargados como se debe para no descargar con cada click
  </a>

  <a routerLink="/PosteoConImput"
  class="list-group-item">
   Posteos descargados conectando lista de posteo con componente de cada posteo mediante @Input
  </a>
</ul>
